*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(18, 18, 23)
}

#main{
    height: 100vh;
    background: url(/imagens/fundoo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;

}

.botaohamburguer img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.barramenu{
    background:transparent;
    height: 100vh;
    width: 0px;
    transition: 0.3s all ;
}

.barramenu ul{
    margin-top: 20px;
}

.barramenu li {
    list-style: none;
    padding: 20px;
    text-align:center ;
}

.amenu {
    font-family: "Poppins";
    text-decoration: none;
    font-size: 15px;
    width: 100%;
}

.amenu:hover{
    border: solid 1px purple;
    padding: 8px;
    border-radius: 15px;
    background-color: purple;
}
.iconsredessociais{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}

.icon{
    color: rgb(56, 45, 56);

}

.icon:hover{
    transition: 0,2s;
    transform: 0.5s;
    width: 23px;
}

.titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    flex-wrap: wrap;

}

.titulos h1{
    font-family: "Poppins";
    color: rgb(226, 19, 226);
    font-size: 75px;
    margin-top: 15%;
    letter-spacing: 2px;
    font-weight: bold;
}

.titulos h2{
    font-family: "Poppins";
    color: crimson;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 40px;


}

.titulos h5{
    font-family: "Poppins";
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 40px;
    color: rgb(170, 48, 170);

}

@media screen and (max-width:414px) {
    .titulos h1{
        font-size: 40px;
        margin-top: 75%;
        margin-right: 15%;
    }

    .titulos h2{
        font-size: 25px;
        margin-right: 15%;

    }

}

/* Sobre mim*/

#aboutme{
    display: flex;
    width: 85%;
    justify-content: center;
    padding: 20px 0px ;
    gap: 20px;
    background-color: rgb(18, 18, 23)
 

 
}

#aboutme img{
    width: 350px;
    margin-bottom: 200px;
}

.sobremim{
    padding-top: 12%;
}

.sobremim h1{
    text-align: center;
    font-size: 65px ;
    font-family: "Poppins";
    font-weight: bold;
    color: rgb(226, 19, 226);
}

.sobremim h5{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "Poppins";
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}

.sobremim p{
    font-family: "Poppins";
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: white;
}

/*My Skills*/

#myskills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px ;

}

.tituloskills h1{
    font-size: 88px ;
    font-family: "Poppins";
    font-weight: bold;
    color: rgb(226, 19, 226);
    margin-bottom: 75px;
}

.skills{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h2{
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom:5px ;
    font-size: 18px;
    font-family: "Poppins";
    margin-bottom: 13px;
    color: white;
}

.progress-bar{
    background: #959595;
    width: 350px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.html{
    background: blue;
    animation: html 1s linear forwards ;
}

.css{
    background: rgb(208, 0, 255);
    animation: css 1s linear forwards ;
}

.js{
    background: rgb(0, 255, 47);
    animation: js 1s linear forwards ;
}

.c{
    background: rgb(255, 0, 0);
    animation: c 1s linear forwards ;
}

.html span{
    border: 1px solid blue ;
}

.css span{
    border: 1px solid rgb(208, 0, 255);
}

.js span{
    border: 1px solid rgb(0, 255, 47);
}

.c span{
    border: 1px solid rgb(255, 0, 0);
}

@keyframes html{
    100%{
        width: 76%;
    }
}

@keyframes css{
    100%{
        width: 66%;
    }
}

@keyframes js{
    100%{
        width: 55%;
    }
}

@keyframes c{
    100%{
        width: 65%;
    }
}


/*My Projects*/

#projectos{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 60px;
    width: 85%;
   
}

.tituloprojectos{
    font-size: 55px ;
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    color: rgb(226, 19, 226);
    margin-left: 21%;
}



.alinhar{
    display: flex;
    align-items: center;
    gap: 10px;

}

.alinhar h4{
    font-family: "Poppins";
    font-size: 13px;
    
}

.alinhar img{
    width: 200px;
    border-radius: 30%;
    margin-left: 3%;
}

/* Contact me */

#contactme{
    color: white;
    padding: 20px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactme h1 {
    font-size: 68px ;
    font-family: "Poppins";
    font-weight: bold;
    color: rgb(226, 19, 226);
    margin-top: 13%;
    text-align: center;
}

.formulario{
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-radius: 20px;
    background-color: rgb(4, 4, 64);
    margin-top: 15%;
    box-shadow: rgb(226, 19, 226) 0px 50px 100px -20px, rgb(226, 19, 226) 0px 30px 60px -30px, rgb(226, 19, 226) 0px -2px 6px 0px inset; /* box shadow feita no getscan box shadows */
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    padding: 20px;
    height:500px;
}

.form h2{
    color: purple;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}

.form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
    margin-right: 66%;
    margin-top: 4px;

}

.form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-top: 5px ;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;
    font-family: "Poppins";
}

.form input:focus{
    border-radius: 20px;
}

.form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    transition: all 0.5s;
    font-family: "Poppins";

}

.form textarea:focus{
    border-radius: 20px;
}

.form button{
    color: white;
    padding: 17px;
    margin-bottom: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #f5f5f5;
    width: 60%;
    border-radius: 10px ;
    font-family: "Poppins";
    transition: all 1s;
}

.form button:hover{
    background-color:#f5f5f5 ;
    color: black;
}





















